.mascot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    animation-duration: 5s;
    animation-name: walk;
    animation-iteration-count: 1;
    
}

.mascot:hover {
    animation: leon 3s ease-in-out;
}



@keyframes leon {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes walk {
    from {
        margin-left: 100%;
        width: 15%;
    }

    to {
        margin-left: 42.5%;
        width: 15%;
    }
}

.nextbutton {
    background-color: rgb(189, 155, 114);
    border-radius: 10px;
    margin-right: 50px;
    margin-top: 20px;
    color: whitesmoke;
    align-content: center;
}

ul {
    list-style-type: square;
}

li {
    margin-left: 20px;
}

.show-mobile{
    display: none;
}

@media screen and (max-width: 450px) {
    .show-mobile{
        padding: 5%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        line-height: 3;
        text-align: justify;
        display: inline-block;
    }
}
