@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {

  align-items: center;
  padding: 2%;
  display: flex;
  max-width: 80%;
  margin: 0 ;
  border-bottom: 5% solid #080808;
  font-size: large;
  justify-content: space-evenly;

}

.navbar h1 {

  color: blanchedalmond;
  
}

.navbar h1:hover{

  color: aquamarine;

}

.navbar .links{
  align-items: center;
  margin-left: 10%;
}

.navbar a {
  text-decoration: none;
  padding: 10%;
  margin-left: 80%;
}

.content {
  max-width: 100%;
  margin: 10% auto;
  padding: 2%;
}

.best{
  display: inline-flex;
  align-content: space-between;
  width: 90%;
  justify-content: space-between;
  margin-left: 5%;
  padding-bottom: 130px;
}

/*.title {
  
}

.movie-title{
  width: 250px;
}
*/
.director {
  padding-top: 3%;
}